<h1>New Figure</h1>

<form  action="/figures" method="post">

<label>Figure name: </label>
  <input id="figure_name" type="text" name="figure[name]" >


  <br><br><br>
  <h1>Titles:</h1>
  <% @titles.each do |title| %>
  <div>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
    <label for="title_<%= title.id %>"><%= title.name %></label>

  <!-- <% title.name %>
  <%= title.id %> -->

  </div>
  <% end %>


<h1>Create New Title</h1>
<input type="text" name="title[name]" id="new_title">

<h1>Landmarks</h1>
<% @landmarks.each do |landmark| %>
<div>
  <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <label for="landmark_<%= landmark.id %>"><%= landmark.name %></label>



</div>
<% end %>

<h1>Create Landmark:</h1>
<label>Name:</label> <input type="text" name="landmark[name]" id="new_landmark">
<label>Year:</label><input type="text" name="landmark[year_completed]" >


  <input id="submit" type="submit"  value="Create New Figure">

</form>
